---
import Layout from "../layouts/Layout.astro";
import { URL } from "../assets/data/url";
import GuideCard from "../components/GuideCard.astro";

const text = {
  title: "Guides",
};

const guides = await Astro.glob("../guides/*.md");
---

<Layout
  ><div class="page page_paths">
    <div class="wrapper">
      <h1 class="title">{text.title}</h1>
      <div class="row">
        {
          guides?.map((guide) => (
            <GuideCard
              title={guide.frontmatter.title}
              description={guide.frontmatter.excerpt}
              icon={guide.frontmatter.icon}
              link={guide.frontmatter.guide}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
</style>
