---
import Layout from "../layouts/Layout.astro";
import GuideCard from "../components/GuideCard.astro";

const text = {
  title: "Guides",
};

const guides = await Astro.glob("../guides/*.mdx");
---

<Layout navbarActive="guides">
  <div class="page page_paths">
    <div class="wrapper">
      <h1 class="title">{text.title}</h1>
      <div class="row">
        {
          guides?.map((guide) => (
            <GuideCard
              title={guide.frontmatter.title}
              description={guide.frontmatter.excerpt}
              icon={guide.frontmatter.icon}
              link={guide.frontmatter.guide}
              iconWidth={guide.frontmatter.iconWidth}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  .page_paths {
    padding-bottom: 3rem;
  }
</style>
