---
import logo from "./../assets/images/icon.svg";
import { DONATION_LINK } from "../assets/data/donation";
import { URL } from "../assets/data/url";

const CURRENT_YEAR = new Date();

const text = {
  logoTitle: "Component UI",
  logoDescription: "High quality guides created by community for community",
  about: "About",
  faq: "FAQ",
  behingScene: "Behing the scenes",
  termsUse: "Terms of use",
  contribute: "Contribute",
};
---

<div class="footer">
  <div class="wrapper">
    <div class="logo">
      <div class="logo_item">
        <img src={logo} alt="logo" class="logo_image" />
        <p class="logo_title">{text.logoTitle}</p>
      </div>
      <p>{text.logoDescription}</p>
    </div>
    <div class="navigation">
      <a href="#" class="items">
        {text.about}
      </a>
      <a href="#" class="items">
        {text.faq}
      </a>
      <a href="#" class="items">
        {text.behingScene}
      </a>
      <a href="#" class="items">
        {text.termsUse}
      </a>
      <a href={DONATION_LINK} class="items">
        {text.contribute}
      </a>
    </div>
  </div>
  <p class="copyright">
    Copyright &copy; {CURRENT_YEAR.getFullYear()} ComponentUI. All rights reserved.
  </p>
</div>
